<h1>Csv Imports:</h1>

<% if @csv_product_imports.any? %>
<table>
  <tr>
    <th>Дата импорта</th>
    <th>Наименование файла</th>
    <th>Кол-во импортированных товаров</th>
    <th></th>
  </tr>
  <% @csv_product_imports.each do |ci| %>
  <tr>
    <td><%= ci.created_at.to_s %></td>
    <td><%= ci.filename %></td>
    <td><%= ci.product_counts %></td>
    <td><%= link_to 'show', admin_csv_product_import_path(ci) %></td>
  </tr>
  <% end %>
</table>
<% else %>
  <div>There is no csv tasks</div>
<% end %>

<%= link_to "<span>Import CSV</span>".html_safe, new_admin_csv_product_import_path, :class => 'button' %>