<h1><%= t('csv_import.csv_imports') %></h1>

<% if @csv_product_imports.any? %>
<table class="index">
  <tr>
    <th><%= t('csv_import.import_date') %></th>
    <th><%= t('csv_import.parsed_date') %></th>
    <th><%= t('csv_import.filename') %></th>
    <th><%= t('csv_import.imported_products_count') %></th>
    <th></th>
  </tr>
  <% @csv_product_imports.each do |ci| %>
  <tr>
    <td><%= ci.created_at.to_s %></td>
    <td><%= ci.parsed_date ? ci.parsed_date.to_s : t('csv_import.in_process') %></td>
    <td><%= ci.filename %></td>
    <td><%= ci.products_count %></td>
    <td><%= link_to t('show'), admin_csv_product_import_path(ci) %></td>
  </tr>
  <% end %>
</table>
<% else %>
  <div><%= t('csv_import.there_is_no_csv_tasks') %></div>
<% end %>

<%= link_to "<span>#{t('csv_import.import_csv')}</span>".html_safe, new_admin_csv_product_import_path, :class => 'button' %>