<h1><%= t('csv_import.csv_imports') %></h1>

<% if @csv_product_import.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @csv_product_import %>
<% end %>

<%= form_for [:admin, @csv_product_import], :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :taxon_id, t("csv_import.taxon") %><br/>
    <%= f.error_message_on :taxon_id %>
    <%= f.select "taxon_id", Taxon.all.collect {|p| [ p.name, p.id ] } %>
  </p>

  <p>
    <%= label_tag :file, t("csv_import.file") %>
    <%= file_field_tag :file %>
  </p>

  <p>
    <%= label_tag :update_only, t("csv_import.update_only") %>
    <%= f.check_box :update_only %>
  </p>

  <p>
    <p class="form-buttons">
      <%= button t("actions.create") %>
      <%= t("or") %> <%= link_to t("actions.cancel"), admin_csv_product_imports_path %>
    </p>
  </p>
<% end %>