<% if @csv_product_import.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @csv_product_import %>
<% end %>

<%= form_for [:admin, @csv_product_import], :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :taxonomy_id, t("taxonomy_id") %><br/>
    <%= f.error_message_on :taxonomy_id %>
    <%= f.select "taxonomy_id", Taxonomy.all.collect {|p| [ p.name, p.id ] } %>
  </p>

  <p>
    <%= label_tag :file, t("file") %>
    <%= file_field_tag :file %>
  </p>

  <p>
    <%= f.submit t("upload") %>
  </p>
<% end %>